---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "World Snacks",
    "subtitle": "Melanie Richards’s impressions of snacks from around the world",
    "url": "https://snacks.melanie-richards.com/",
    "feedUrl": "https://snacks.melanie-richards.com/feed.xml",
    "author": {
      "name": "Melanie Richards",
      "email": "mr@melanie-richards.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in snacks %}
  {% set absolutePostUrl %}{{ metadata.url }}snack/{{ post.name | slug }}/{% endset %}
  <entry>
    <title>{{ post.name }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | machineDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {% if post.image %}
        <img src="{{ post.image.fields.file.url }}" alt="{{ post.image.fields.description }}" />
      {% endif %}
      {% richTextIfy post.comments %}
    </content>
  </entry>
  {%- endfor %}
</feed>