---
pagination:
  data: snacks
  size: 1
  alias: snack
  addAllPagesToCollections: true
permalink: "/snack/{{ snack.name | slugify }}/"
tags: "snack"
layout: layouts/snack.njk
context: snack

eleventyComputed:
  title: "{{ snack.name}}"

---

<h1>
  {{ snack.name }}
</h1>