---
pagination:
  data: types
  size: 1
  alias: type
  addAllPagesToCollections: true
permalink: "/type/{{ type.type | slug }}/"
tags: "type"
layout: layouts/type.njk
context: type

eleventyComputed:
  title: "{{ type.type }}"
  
---