/*
 *  =============================================
 *  GLOBALS
 *  .l-* classes: layout.scss
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  LOVE THE CASCADE
 *  ---------------------------------------------
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--color-body-bg);
  color: var(--color-body-text);
}

:focus {
  outline-color: var(--color-focus-outline);
  outline-offset: 3px;
  outline-width: 3px;
}

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

::-moz-selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

a:link, a:visited {
  border-bottom: 2px solid var(--color-link-border);
  text-decoration: none;
  background-color: transparent;
  color: var(--color-link-text);
  transition: background-color 200ms ease-in, border-bottom-color 200ms ease-in;
}

a:hover {
  border-bottom-color: var(--color-link-hover-bg);
  background-color: var(--color-link-hover-bg);
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3,
.h2, .h3 {
  margin: 0;
  font-family: var(--font-serif);
  font-variation-settings: "wght" 800, "SOFT" 100, "WONK" 1;
  color: var(--color-header-text);

  a:link, a:visited {
    color: inherit;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-bottom: var(--space-s);
}

h2, .h2, h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p, ul, ol, dl, label, legend, input, textarea {
  margin: var(--space-none);
  font-size: 1.125rem;
  line-height: 1.2;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-xxs) var(--space-xs);
  line-height: 1.2;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: var(--space-xxs) var(--space-xs);
  border-bottom: 2px solid var(--color-border);

  &:first-child {
    padding-left: 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon-sprite {
  display: none;
}

@media (min-width: $bp-s) {
  p, ul, ol, label, legend, input, textarea {
    font-size: 1.25rem;
  }
}

@media (min-width: $bp-l) {
  dl {
    font-size: 1.25em;
  }
}

/*
 *  ---------------------------------------------
 *  FORM ELEMENTS
 *  ---------------------------------------------
 */

label, legend {
  display: block;
}

.c-field:not(:first-child), fieldset {
  margin-top: var(--space-s);
}

.c-field > label, legend {
  display: block;
  font-family: var(--font-serif);
  font-variation-settings: "wght" 650, "SOFT" 100, "WONK" 1;
  color: var(--color-label-text);
}

input[type="text"], input[type="email"], textarea, button {
  border: 2px solid var(--color-field-border);
  border-radius: 4px;
  font-family: inherit;

  &:focus {
    outline-offset: 4px;
  }
}

input[type="text"], input[type="email"], textarea {
  display: block;
  margin-top: var(--space-xxs);
  width: 100%;
  padding: var(--space-xxs);
  background-color: transparent;
  color: inherit;
}

.c-helper-text {
  margin-top: var(--space-xxs);
  font-size: 1rem;
  color: var(--color-meta-text);
}

fieldset {
  border: 0;
  padding: var(--space-xxs) 0 0;

  label {
    position: relative;
    margin-top: .75rem;
    padding-left: 1.5em;
    line-height: 1;
  }
}

input[type="radio"] {
  position: absolute;
  left: 0;
  top: calc(50% - .4125em);
  width: .825em;
  height: .825em;
  accent-color: var(--color-field-border);
}

button {
  border-color: transparent;
  padding: .75rem;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .02em;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  transition: background-color 200ms ease-in;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--color-button-hover-bg);
  }
}