/*
 *  =============================================
 *  LAYOUT
 *  Layout utility classes (.l-*)
 *  =============================================
 */

.l-contain {
  margin-right: auto;
  margin-left: auto;
  width: calc(100vw - var(--space-contain) * 2);
  max-width: 75rem;
}

/* Applies margin to contained flow content */
.l-flow {
  font-size: 1.125em;
  line-height: 1.3;

  * + p, * + ul, * + ol {
    margin-top: 1em;
  }
}

@media (min-width: $bp-s) {
  .l-flow {
    font-size: 1.25rem;
  }
}

@media (min-width: $bp-l) {
  .l-flow {
    font-size: 1.375rem;
  }
}

/*
 *  ---------------------------------------------
 *  SECTIONING
 *  ---------------------------------------------
 */

.l-section {
  margin-top: var(--space-section);

  &:first-child {
    margin-top: 0;
  }
}

.l-section--pad,
.l-subsection--pad {
  background-color: var(--color-banner-bg);
}

.l-section--pad {
  padding-top: var(--space-section);
  padding-bottom: var(--space-section);
}

.l-subsection {
  margin-top: var(--space-subsection);

  &:first-child {
    margin-top: 0;
  }
}

.l-subsection--pad {
  padding-top: var(--space-subsection);
  padding-bottom: var(--space-subsection);
}

/*
 *  ---------------------------------------------
 *  GRID
 *  ---------------------------------------------
 */

@media (min-width: $bp-m) {
  .l-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--space-col-gap);
  }
  
  .l-grid__half {
    grid-column: span 6;
  }
}