/*
 *  =============================================
 *  SITE FOOTER
 *  =============================================
 */

.site-footer {
  background: repeat url('../images/footer.png');
  background-size: 113px 76px;
}

.site-footer__pages,
.site-footer__browse-by-section {
  border-radius: .5rem;
  background-color: var(--color-footer-bg);
}

.site-footer__pages {
  padding: var(--space-xs) var(--space-s);
}

.site-footer__browse-by-section {
  margin-top: var(--space-col-gap);
  padding: var(--space-s);
}

.c-browse-by-list {
  margin-top: var(--space-xs);
}

.c-browse-by-list--countries {
  columns: 2;
}

.c-browse-by-list__item + .c-browse-by-list__item {
  margin-top: .75rem;
}

.c-browse-by-list__emoji {
  margin-right: var(--space-xxs);
}

.c-browse-by-list__name {
  border-bottom: 2px solid var(--color-link-border);
  transition: background-color 200ms ease-in, border-bottom-color 200ms ease-in;
}

.c-browse-by-list__link:link,
.c-browse-by-list__link:visited {
  border-bottom: 0;
}

.c-browse-by-list__link:hover {
  background-color: transparent;

  .c-browse-by-list__name {
    background-color: var(--color-link-hover-bg);
    border-color: transparent;
  }
}

html[data-is-win=true] {
  .c-browse-by-list--countries {
    .c-browse-by-list__item {
      padding-left: 0;
    }

    .c-browse-by-list__emoji {
      display: none;
    }
  }
}

@media (min-width: $bp-m) {
  .site-footer__pages {
    text-align: center;

    li {
      display: inline-block;
      margin: var(--space-xxs) var(--space-xs);
    }
  }
}