/*
 *  =============================================
 *  SITE FOOTER
 *  =============================================
 */

.site-footer {
  position: relative;
  background-color: transparent;
}

.site-footer::before {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeat url('../images/footer.png');
  background-size: 113px 76px;
  content: "";
}

.site-footer__section {
  margin: var(--space-col-gap) 0 0;
  padding: var(--space-s);
  border-radius: .5rem;
  background-color: var(--color-footer-bg);
}

.site-footer__pages {
  margin-top: 0;
  padding: var(--space-xs) var(--space-s);
}

.c-browse-by-list {
  margin-top: var(--space-xs);
}

.c-browse-by-list--countries {
  columns: 2;
  columns: 2 10em;
}

.c-browse-by-list__item + .c-browse-by-list__item {
  margin-top: .75rem;
}

.c-browse-by-list__emoji {
  margin-right: var(--space-xxs);
}

.c-browse-by-list__name {
  border-bottom: 2px solid var(--color-link-border);
  transition: background-color 200ms ease-in, border-bottom-color 200ms ease-in;
}

.c-browse-by-list__link:link,
.c-browse-by-list__link:visited {
  border-bottom: 0;
}

.c-browse-by-list__link:hover {
  background-color: transparent;

  .c-browse-by-list__name {
    background-color: var(--color-link-hover-bg);
    border-color: transparent;
  }
}

.site-footer__site-info {
  .site-footer__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.theme-switcher {
  margin-top: 0;

  label {
    display: inline-block;
    margin: var(--space-xxxs) var(--space-xs) 0 0;
  }
}

html[data-is-win=true] {
  .c-browse-by-list--countries {
    .c-browse-by-list__item {
      padding-left: 0;
    }

    .c-browse-by-list__emoji {
      display: none;
    }
  }
}

@media (min-width: $bp-m) {
  .site-footer__pages {
    text-align: center;

    li {
      display: inline-block;
      margin: var(--space-xxs) var(--space-xs);
    }
  }
}

/*
 *  ---------------------------------------------
 *  DARK SCHEME
 *  ---------------------------------------------
 */

[data-prefers-theme="dark"] {
  .site-footer::before {
    opacity: .6;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-prefers-theme="light"]) {
    .site-footer::before {
      opacity: .6;
    }
  }
}