/*
 *  =============================================
 *  VARIABLES
 *  =============================================
 */

/*
 *  ---------------------------------------------
 *  BREAKPOINTS
 *  ---------------------------------------------
 */

$bp-s: 40rem;
$bp-m: 48rem;
$bp-l: 64rem;
$bp-xl: 108rem;
$bp-xxl: 125rem;

/*
 *  ---------------------------------------------
 *  SPACING
 *  ---------------------------------------------
 */

:root {
  --space-none: 0; /* Doing this as a custom prop so non-supporting browsers ignore it */
  --space-xxxs: .25rem;
  --space-xxs: .5rem;
  --space-xs: 1rem;
  --space-s: 1.5rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;
  --space-col-gap: var(--space-s);
  --space-contain: var(--space-s);
  --space-section: var(--space-l);
  --space-subsection: 3rem;
}

@media (min-width: $bp-s) {
  :root {
    --space-contain: var(--space-l);
    --space-section: var(--space-xl);
    --space-subsection: var(--space-l);
  }
}

@media (min-width: $bp-m) {
  :root {
    --space-col-gap: var(--space-m);
  }
}

@media (min-width: $bp-l) {
  :root {
    --space-col-gap: var(--space-m);
    --space-contain: var(--space-xl);
  }
}

/*
 *  ---------------------------------------------
 *  FONTS
 *  ---------------------------------------------
 */

:root {
  --font-serif: 'Fraunces', Garamond, Georgia, 'Times New Roman', Times, serif;
  --font-sans-serif: 'League Spartan', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*
 *  ---------------------------------------------
 *  COLORS
 *  ---------------------------------------------
 */

:root {
  --color-banner-bg: papayawhip;
  --color-blob-text: #1b1b1b;
  --color-border: #E3E1F1;
  --color-body-bg: #fff;
  --color-body-text: #6b6b6b;
  --color-focus-outline: #F14E76;
  --color-footer-bg: #FFF5EE;
  --color-header-link-border: hsla(345,55%,51%,.4);
  --color-header-link-text: #C73D5F;
  --color-link-border: #8D85C6;
  --color-link-hover-bg: #E3E1F1;
  --color-link-text: #383168;
  --color-header-text: #53499C;
  --color-masthead-text: #D91142;
  --color-meta-text: #717171;
  --color-placeholder-bg: #FEE7EC;
  --color-placeholder-text: #D91142;
  --color-selection-bg: #75E2F0;
  --color-selection-text: #000;
  --color-site-footer-bg: #E3E1F1;
  --color-subtle-header-text: #6b6b6b;
}