<footer role="contentinfo" class="l-section l-section--pad | site-footer">
  <div class="l-contain">
    <nav aria-labelledby="site-footer__heading">
      <h2 class="u-vis-hidden" id="site-footer__heading">Full Site Navigation</h2>
      <ul class="u-simple-list | site-footer__section site-footer__pages">
        <li>
          <a href="/">Recent Snacks</a>
        </li>
        <li>
          <a href="/about/">About World Snacks</a>
        </li>
        <li>
          <a href="/suggest/">Suggest a Snack</a>
        </li>
        <li>
          <a class="rss-link" href="/feed.xml">
            Subscribe
            <svg class="rss-link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310" xml:space="preserve"><path d="M90.244 264.828C90.244 240.11 70.139 220 45.427 220 20.712 220 .605 240.11.605 264.828c0 24.714 20.107 44.82 44.822 44.82 24.712 0 44.817-20.106 44.817-44.82z"/><path d="M5.648 169.43c35.961 0 69.782 14.066 95.231 39.605 25.45 25.583 39.467 59.648 39.467 95.92a5 5 0 0 0 5 5h57.486a5 5 0 0 0 5-5c0-111.952-90.699-203.031-202.185-203.031a5 5 0 0 0-5 5v57.505a5.002 5.002 0 0 0 5.001 5.001z"/><path d="M5.726 0a5 5 0 0 0-5 5v57.495a5 5 0 0 0 5 5c130.24 0 236.199 106.544 236.199 237.505a5 5 0 0 0 5 5h57.471a5 5 0 0 0 5-5c0-168.178-136.226-305-303.67-305z"/></svg>
          </a>
        </li>
      </ul>
      <div id="browse-by" class="l-grid">
        <div class="l-grid__half | site-footer__section site-footer__browse-by-section">
          <h3>Browse by country</h3>
          <ul class="u-simple-list | c-browse-by-list c-browse-by-list--countries">
            {% for country in countries %}
              <li class="c-browse-by-list__item">
                <a class="c-browse-by-list__link" href="/country/{{ country.countryName | slug }}/">
                  <span class="c-browse-by-list__emoji" aria-hidden="true">{{ country.emoji }}</span>
                  <span class="c-browse-by-list__name">{{ country.countryName }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="l-grid__half | site-footer__section site-footer__browse-by-section">
          <h3>Browse by snack type</h3>
          <ul class="u-simple-list | c-browse-by-list">
            {% for type in types %}
              <li class="c-browse-by-list__item">
                <a class="c-browse-by-list__link" href="/type/{{ type.type | slug }}/">
                  <span class="c-browse-by-list__emoji" aria-hidden="true">{{ type.emoji }}</span>
                  <span class="c-browse-by-list__name">{{ type.type }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="l-grid site-footer__site-info">
      <div class="l-grid__half | site-footer__section">
        <p>© 2024 <a href="https://melanie-richards.com">Melanie Richards</a>. Made with Eleventy and Contentful, and hosted on Netlify. <a href="https://github.com/melanierichards/world-snacks">Explore the code</a></p>
      </div>
      <div class="l-grid__half | site-footer__section">
        <fieldset class="theme-switcher">
          <legend>Theme</legend>
          <label>
            <input id="theme-radio-system" type="radio" name="theme" value="system" checked> System
          </label>
          <label>
            <input id="theme-radio-light" type="radio" name="theme" value="light"> Light
          </label>
          <label>
            <input id="theme-radio-dark" type="radio" name="theme" value="dark"> Dark
          </label>
        </fieldset>
      </div>
    </div>
  </div>
</footer>