<article class="l-contain l-subsection | c-snack-item">
  {% if snack.image %}
    <img class="c-snack-item__image" src="{{ snack.image.fields.file.url }}" width="{{ snack.image.fields.file.details.image.width }}" height="{{ snack.image.fields.file.details.image.height }}" loading="lazy" decoding="async" alt="{{ snack.image.fields.description }}" />
  {% else %}
    <div class="c-snack-item__placeholder">
      <span>?</span>
    </div>
  {% endif %}

  <div class="c-snack-item__info">
    {% if context != 'snack' %}
      <h2>
        <a href="/snack/{{ snack.name | slug | url }}">{{ snack.name }}</a>
      </h2>
    {% endif %}

    <p class="c-meta c-snack-item__type">{{ snack.typeOfSnack.fields.type }} from {{ snack.countryOfOrigin.fields.countryName }}</p>
    <dl>
      <dt>Rating:</dt>
      <dd>
        {% include 'rating.njk' %}
      </dd>
      <dt>Source:</dt>
      <dd>{% richTextIfy snack.source %}</dd>
    </dl>

    <div class="l-flow | c-snack-item__desc">{% richTextIfy snack.comments %}</div>
    <p class="c-meta">Written on {{ snack.date | prettyDate }}</p>
  </div>
</article>