{% set context = 'simple-snack-item' %}
<li class="c-simple-snack-item">
  <a href="/snack/{{ snack.name | slug | url }}">
    {{ snack.typeOfSnack.fields.type }}
    {{snack.name}}
  </a>
  {% include 'rating.njk' %}
</li>