<li>
  <a href="/snack/{{ snack.name | slug | url }}">
    {{ snack.typeOfSnack.fields.type }}
    {{snack.name}}
  </a>
  {% if context != '5-star' %}
    {{ snack.rating }} out of 5
  {% endif %}
</li>