<article class="l-contain l-subsection | c-snack-item">
  <div class="c-snack-item__media">
    {% if snack.image %}
      <img class="c-snack-item__image" src="{{ snack.image.fields.file.url }}" width="{{ snack.image.fields.file.details.image.width }}" height="{{ snack.image.fields.file.details.image.height }}" loading="lazy" decoding="async" alt="{{ snack.image.fields.description }}" />
    {% else %}
      <div class="c-snack-image-placeholder c-snack-item__placeholder">
        <span>?</span>
      </div>
    {% endif %}
    <div class="c-snack-item__blob c-snack-item__blob--{{ snack.rating}}">
      <span>
        {% if snack.rating == 1 %}Blech
        {% elseif snack.rating == 2 %}Nope
        {% elseif snack.rating == 3 %}Fine
        {% elseif snack.rating == 4 %}Yum!
        {% elseif snack.rating == 5 %}Fave!!{% endif %}
      </span>
    </div>
  </div>

  <div class="c-snack-item__info">
    {% if context != 'snack' %}
      <h3 class="h2">
        <a href="/snack/{{ snack.name | slug | url }}">{{ snack.name }}</a>
      </h3>
    {% endif %}

    <p class="c-meta c-snack-item__type">{{ snack.typeOfSnack.fields.type }} from {{ snack.countryOfOrigin.fields.countryName }}</p>
    <dl>
      <dt>Rating:</dt>
      <dd>
        {% include 'rating.njk' %}
      </dd>
      <dt>Source:</dt>
      <dd>{% richTextIfy snack.source %}</dd>
    </dl>

    <div class="l-flow | c-snack-item__desc">{% richTextIfy snack.comments %}</div>
    <p class="c-meta">Written on {{ snack.date | prettyDate }}</p>
  </div>
</article>