/*
 *  META TEXT
 *  =============================================
 */

.c-meta {
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--color-meta-text);
}