/*
 *  =============================================
 *  COMPONENT: SNACK IMAGE PLACEHOLDER
 *  =============================================
 */

.c-snack-image-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 2 / 1;
  padding: var(--space-m);
  text-align: center;
  font: 3em/1 var(--font-serif);
  font-variation-settings: "wght" 900, "SOFT" 100,;
  background-color: var(--color-placeholder-bg);
  color: var(--color-placeholder-text);
}