/*
 *  SUBTLE HEADER
 *  =============================================
 */

.c-subtle-header {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
  color: var(--color-subtle-header-text);
}