---
layout: layouts/global.njk
---

<div class="l-section l-section--pad | c-masthead">
  <h1 class="c-masthead__title">{{ country.countryName }}</h1>
</div>

{% include 'woosh.njk' %}

<section class="l-section" aria-labelledby="recent-heading">
  <h2 class="c-subtle-header" id="recent-heading">Recent Snack Reviews</h2>
  {% set snacksInCountry = snacks | filterByCountry(country.countryName) | reverse %}
  {% for snack in snacksInCountry | limit(10) %}
    {% set context = 'country' %}
    {% include 'snack-item.njk' %}
  {% endfor %}
</section>

{% if snacksInCountry.length > 10 %}
  <section class="l-contain l-section" aria-labelledby="more-heading">
    <h2 class="c-subtle-header" id="more-heading">More Treats</h2>
    <ul class="l-subsection | u-simple-list">
      {% for snack in snacksInCountry | offset(10) %}
        {% set context = 'country' %}
        {% include 'snack-simple-listing.njk' %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% include 'pagination.njk' %}