---
layout: layouts/global.njk
pagination:
  data: snacks
  size: 10
  alias: snacks
  reverse: true
---

<div class="l-section l-section--pad | c-masthead">
  <p class="l-contain | c-masthead__title | site-tagline">{{ tagline }}</p>
</div>

{% include 'woosh.njk' %}

<section class="l-section" aria-labelledby="recent-heading">
  <h2 class="c-subtle-header" id="recent-heading">Recent Snack Reviews</h2>
  {% for snack in snacks %}
    {% set context = 'home' %}
    {% include 'snack-item.njk' %}
  {% endfor %}
</section>

{% include 'pagination.njk' %}