---
layout: layouts/global.njk
---

<div class="l-section l-section--pad">
  <p class="l-contain | site-tagline">{{ tagline }}</p>
</div>

<div class="l-section">
  {% for snack in snacks | reverse %}
    {% set context = 'home' %}
    {% include 'snack-item.njk' %}
  {% endfor %}
</div>