---
layout: layouts/global.njk
---

<h1>{{ title }}</h1>
{{ content | safe }}

<ul>
  {% for snack in snacks | reverse %}
    {% set context = 'home' %}
    {% include 'snack-info.njk' %}
  {% endfor %}
</ul>

<h2>Browse by country</h2>
<ul>
  {% for country in countries %}
    <li>
      <a href="/country/{{ country.countryName | slug }}/">{{ country.countryName }}</a>
    </li>
  {% endfor %}
</ul>