---
layout: layouts/global.njk
---

<div class="l-section l-section--pad | c-masthead">
  <h1 class="l-contain | c-masthead__title">{{ snack.name }}</h1>
</div>

{% include 'woosh.njk' %}

{% include 'snack-item.njk' %}

{% include 'pagination.njk' %}