---
layout: layouts/global.njk
---

<div class="l-section l-section--pad | c-masthead">
  <h1 class="l-contain | c-masthead__title">{{ type.type }}</h1>
</div>

{% include 'woosh.njk' %}

<section class="l-section" aria-labelledby="recent-heading">
  <h2 class="c-subtle-header" id="recent-heading">Recent Snack Reviews</h2>
  {% set snacksInType = snacks | filterByType(type.type) | reverse %}
  {% for snack in snacksInType | limit(5) %}
    {% set context = 'type' %}
    {% include 'snack-item.njk' %}
  {% endfor %}
</section>

{% if snacksInType.length > 5 %}
  <section class="l-contain l-section" aria-labelledby="more-heading">
    <h2 class="c-subtle-header" id="more-heading">More Treats</h2>
    <ul class="l-subsection | u-simple-list | c-simple-snack-listings">
      {% for snack in snacksInType | offset(5) %}
        {% set context = 'type' %}
        {% include 'snack-simple-listing.njk' %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% include 'pagination.njk' %}